// We use only margin-bottom for vertical spacing to simplify margin behavior (no collapsing)
p, h1 {
  margin-top: 0;
}

// Document-wide typography
h1 {
  font-size: 90px;
  font-weight: bold;
}

p {
  font-size: 17px;
  font-weight: 300;
}

// Classes for text alignment that apply only on xs viewports
@media (max-width: @screen-xs-max) {
  .xs-center {
    text-align: center;
  }

  .xs-justify {
    text-align: justify;
  }
}
