// We use only margin-bottom for vertical spacing to simplify margin behavior (no collapsing)
* {
  margin-top: 0;
}

// Bootstrap variables
@body-bg: #f9f8fb;
@font-family-sans-serif: Raleway, sans-serif;
@font-size-base: 16px;
@text-color: #262626;
@link-color: @text-color;
@link-hover-color: lighten(@link-color, 25%);

// Custom variables
@transition-duration: 0.3s;

// Document-wide font settings
h1 {
  font-size: 90px;
  font-weight: bold;
}

p {
  font-size: 17px;
  font-weight: 300;
}

// Classes for text alignment to apply only on xs viewports
@media (max-width: @screen-xs-max) {
  .xs-center {
    text-align: center;
  }

  .xs-justify {
    text-align: justify;
  }
}
