.mouse {
  // shape
  @width: 22px;
  border: 2px solid #000;
  border-radius: @width / 2;
  height: 38px;
  width: @width;

  // position
  bottom: 68px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);

  // wheel
  &::after {
    // filling
    background-color: #000;
    content: " ";

    // size
    height: 9px;
    width: 2px;

    // position
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translate(-50%, 0);
  }
}
