@import "navbar/navbar-vars";
@import "navbar/navbar-mixins";
@import "navbar/navbar-responsive";

.navbar {
  &-brand {
    font-family: Pacifico, sans-serif;
    font-size: 50px;
  }

  &-nav {
    font-weight: bold;
    text-transform: uppercase;

    .active > a::before {
      .navbar-highlight(top);
    }

    a {
      &:hover::after {
        .navbar-highlight(bottom);
      }
    }
  }

  &-toggle {
    margin-top: 53px;

    .icon-bar {
      height: 4px;
      width: 24px;
    }
  }
}
