@import "navbar/navbar-vars";
@import "navbar/navbar-mixins";
@import "navbar/navbar-resize-on-scroll";

.navbar {
  .navbar-resize-on-scroll();

  &-brand {
    font-family: Pacifico, sans-serif;
    font-size: 50px;
  }

  &-nav {
    font-weight: bold;
    text-transform: uppercase;

    .active > a::before {
      .navbar-highlight(top);
    }

    a {
      &:hover::after {
        .navbar-highlight(bottom);
      }
    }
  }

  &-toggle {
    margin-top: 53px;
  }

  &-toggle .icon-bar {
    height: 4px;
    width: 24px;
  }

  @media (max-width: @screen-xs-max) {
    background: @body-bg;

    &-collapse {
      background: @body-bg;
      left: 0;
      position: absolute;
      right: 0;
      top: 100px;
    }
  }
}
