@import "../../vendor/bootstrap/less/bootstrap";
@import "navbar/navbar-vars";
@import "navbar/navbar-highlight";
@import "navbar/navbar-resize-on-scroll";

.navbar {
  .navbar-resize-on-scroll();

  &-brand {
    font-family: Pacifico, sans-serif;
    font-size: 50px;
  }

  @media (max-width: @screen-xs-max) {
    background: @body-bg;

    &-collapse {
      //margin-top: -@navbar-height / 3;
      background: @body-bg;
      left: 0;
      position: absolute;
      right: 0;
      top: 100px;
      width: 100%;
    }
  }

  &-nav {
    @highlight-offset: 13px;
    @highlight-color: #ff5f33;

    font-weight: bold;
    text-transform: uppercase;

    .active > a::before {
      .navbar-highlight(@highlight-offset, @highlight-color, top);
    }

    a {
      &:hover::after {
        .navbar-highlight(@highlight-offset, @highlight-color, bottom);
      }
    }

    @media (max-width: @screen-xs-max) {
      text-align: center;
    }
  }

  &-toggle {
    margin-top: 53px;
  }

  &-toggle .icon-bar {
    height: 4px;
    width: 24px;
  }
}
