@import "../../../vendor/bootstrap/less/bootstrap";

.navbar-highlight(@v-offset, @color, @position) {
  @h-offset: 13px;

  background-color: @color;
  content: "";
  display: block;
  height: 3px;
  left: @h-offset;
  position: absolute;
  right: @h-offset;
  @{position}: 50% - @v-offset;

  @media (max-width: @screen-xs-max) {
    display: none;
  }
}
